{% extends 'base.html' %}

{% block main %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-5">
            <form action="" method="POST">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->
                    {{ form.username.label(class="form-label") }} <br>
                    <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"> -->
                    {{ form.username(size=32, class="form-control") }}
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
                    {{ form.password.label(class="form-label") }} <br>
                    <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
                    {{ form.password(size=32, class="form-control") }}
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.remember_me() }} {{ form.remember_me.label }}
                </div>
                <div>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}